*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.padding{
  margin: 10px;
}

.flex{
  display: flex;
}
.flex-direction-column{
  flex-direction: column;
}
.flex-aling-center{
  justify-content: center;
}
.beige{
  background-color:beige;
}
.width100{
  width: 100vw;
}
.widthauto{
  width: auto;
}
.width30{
  width: 30vw;
}
.verde{
  background-color: green;
}
.center{
  text-align: center;
}
.gap{
  gap: 50px;
}
.gap-2{
  gap: 20px;
}
.space-around{
  justify-content: space-around;
}
.height{
  height: auto;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  width: 95%;
  height: 100%;
}